:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #3a3d40;
    --black: #181719;
    --gold: #D6AD60;
    --rosewood: #65000B;
    --left-eye-rotation: -5deg;
    --right-eye-rotation: 5deg;
    --avatar-body: linear-gradient(var(--red), var(--rosewood));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--white);
}

nav {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--red);
    z-index: 6;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 5rem;
}

nav ul li {
    margin: 1rem;
    display: block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.nav-link:hover {
    color: var(--black);
}

.nav-link-container {
    display: inline-block;
    position: relative;
}

.nav-link-container:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link-container:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    min-height: 650px;
}

#welcome-section {
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    background-image: linear-gradient(62deg, var(--gray) 0%, var(--black) 100%);
}

/* constructing the avatar */
.avatar-background {
    width: 120px;
    height: 120px;
    margin: auto;
}

.avatar {
    width: 100%;
    height: 100%;
    position: relative;
    animation: float 2s linear infinite;
    transform: translate(0, 8%);
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 2rem;
}

.about p {
    margin: 0 2rem;
    color: var(--gold);
    font-size: 1.4rem;
    font-weight: 100;
}

.about p:before {
    content: " { ";
}

.about p:after {
    content: " } ";
}

.avatar * {
    position: absolute;
}


.avatar-torso {
    background: var(--avatar-body);
    width: 40%;
    height: 60%;
    top: 25%;
    left: 30%;
    z-index: 1;
    border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
    transform: rotate(180deg);
}

.avatar-head {
    width: 40%;
    height: 30%;
    background: var(--avatar-body);
    border-radius: 40% 40% 30% 30%;
    top: 3%;
    left: 30%;
    z-index: 3;
}

.avatar-face {
    width: 80%;
    height: 80%;
    background-color: var(--gold);
    border-radius: 40% 40% 30% 30%;
    top: 10%;
    left: 10%;
    z-index: 4;
}

.avatar-eyes {
    width: 30%;
    height: 30%;
    background-color: black;
    top: 30%;
    border-radius: 50%;
}

.avatar-eyes.left {
    left: 10%;
    transform: rotate(var(--left-eye-rotation));
}

.avatar-eyes.right {
    right: 10%;
    transform: rotate(var(--right-eye-rotation));
}

.avatar-eyelid {
    width: 150%;
    height: 100%;
    background-color: var(--gold);
    top: 25%;
    left: -23%;
    border-radius: 50%;
}

.avatar-eyelid.left {
    transform: rotate(var(--left-eye-rotation));
}

.avatar-eyelid.right {
    transform: rotate(var(--right-eye-rotation));
}

.avatar-ears {
    width: 5%;
    height: 30%;
    background-color: var(--gold);
    top: 30%;
    z-index: -1;
}

.avatar-ears.left {
    left: -5%;
}

.avatar-ears.right {
    right: -5%;
}

.avatar-mouth-upper {
    background-color: var(--gold);
    width: 60%;
    height: 30%;
    left: 20%;
    border-radius: 50%;
    z-index: 5;
    bottom: 25%
}

.avatar-mouth-lower {
    background-color: black;
    width: 50%;
    height: 30%;
    left: 25%;
    border-radius: 50%;
    z-index: 4;
    bottom: 20%
}

.avatar-arms {
    width: 15%;
    height: 50%;
    background: linear-gradient(var(--rosewood), var(--red));
    border-radius: 60% 60% 120% 30%;
}

.avatar-arms.left {
    top: 40%;
    left: 45%;
    transform-origin: top left;
    transform: rotate(130deg);
    animation: 3s linear infinite waving;
}

.avatar-arms.right {
    top: 30%;
    right: 30%;
    transform-origin: top right;
    transform: rotate(-20deg);
}

/* animate avatar */
@keyframes float {
    0% {
        transform: translate(0, 8%)
    }

    50% {
        transform: translate(0, 4%)
    }

    100% {
        transform: translate(0, 8%)
    }
}

@keyframes waving {
    10% {
        transform: rotate(110deg);
    }

    20% {
        transform: rotate(130deg);
    }

    30% {
        transform: rotate(110deg);
    }

    40% {
        transform: rotate(130deg);
    }
}

/* the project section */
#projects {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: 100vw;
    height: 100vh;
}

#projects h2 {
    padding: 0 4rem;
    text-align: center;
}

/* customise scrollbar for panel */
.selection::-webkit-scrollbar{
    height: 10px;
  }

.selection::-webkit-scrollbar-track{
    background: transparent;
}

.selection::-webkit-scrollbar-thumb{
    background: var(--gray);
    border-radius: 10px;
}

.selection::-webkit-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 10px; 
}

.selection::-webkit-scrollbar-track-piece:start{
    background: transparent;
    margin-top: 10px;
}

.selection::-webkit-scrollbar-thumb:hover{
    background: var(--gold);
}

.selection::-ms-scrollbar{
    height: 10px;
  }

.selection::-ms-scrollbar-track{
    background: transparent;
}

.selection::-ms-scrollbar-thumb{
    background: var(--gray);
    border-radius: 10px;
}

.selection::-ms-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 10px; 
}

.selection::-ms-scrollbar-track-piece:start{
    background: transparent;
    margin-top: 10px;
}

.selection::-ms-scrollbar-thumb:hover{
    background: var(--gold);
}

.selection::-moz-scrollbar{
    height: 10px;
  }

.selection::-moz-scrollbar-track{
    background: transparent;
}

.selection::-moz-scrollbar-thumb{
    background: var(--gray);
    border-radius: 10px;
}

.selection::-moz-scrollbar-track-piece:end{
    background: transparent;
    margin-bottom: 10px; 
}

.selection::-moz-scrollbar-track-piece:start{
    background: transparent;
    margin-top: 10px;
}

.selection::-moz-scrollbar-thumb:hover{
    background: var(--gold);
}


/* style the panel that hold the project cards */
.panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 700px;;
}

/* scrollable selector */
.selection {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;
}

.tab_select {
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: var(--gold);
    background-color: var(--gray);
    border: 1px solid var(--gold);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.tab_select p {
    padding: 0.2rem 0.5rem;
}

.tab_select:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.tab_select:hover, .active_tag {
    color: var(--gray);
    background-color: var(--gold);
}

.project-card {
    width: 100%;
    min-width: 550px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    place-items: center;
    border: 2px solid var(--gold);
    border-radius: 5px;
    background-color: var(--gray);
    transition: all 0.3s ease-in-out;
}

.project-image {
    width: 100%;
    max-width: calc(180px * 0.9);
    background-color:var(--gray);
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.project-image img {
    width: 90%;
    object-fit: contain;
}

.no-img {
    font-size: 3rem;
}

.container {
    text-align: center;
    padding: 2px;
    font-size: 1rem;
    font-weight: 900;
    color: var(--gold);
  }

.card-content {
    display: inline-flex;
    flex-direction: column;
    font-size: 1rem;
    row-gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.desc {
    text-align: left;
}

.lang-frame {
    text-align: center;
    font-weight: 700;
}

.view-proj-btns {
    background-color: rgba(58, 61, 64, 1);
    transition: background-color 0.3s ease-out;
    display: flex;
}

.view-demo, .view-code {
    width: 50%;
}

.only-code {
    width: 100%;
}

.view-demo, .view-code, .only-code {
    border: 1px solid var(--gold);
    border-radius: 5px;
}

.view-proj-btns a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    display: block;
    width: 100%;
    height: 100%;
}

.view-code:hover, .view-demo:hover, .only-code:hover {
    background-color: var(--gold);
    cursor: pointer;
}

.view-code:hover a, .view-demo:hover a, .only-code:hover a {
    color: var(--black);
}

#contact {
    width: 100vw;
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, var(--gray) 0%, var(--black) 100%);
    row-gap: 4rem;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    font-size: 2rem;
    /* border: 1px solid var(--gold);
    border-radius: 5px; */
}

#email-link,
#profile-link {
    transition: transform 0.3s ease-out;
}

#email-link:hover,
#profile-link:hover {
    transform: scale(1.25, 1.25);
    color: var(--gold)
}

.contact-section-header {
    font-size: 2rem;
    padding: 4rem;
    text-align: center;
    /* border: 1px solid var(--gold);
    border-radius: 5px; */
}

.contact-links a {
    text-decoration: none;
    color: var(--white);
}

.btn {
    padding: 0 4rem;
}

.btn i {
    padding: 0 1rem;
}

#divider {
    background-color: var(--red);
    width: 100vw;
    height: 5px;
    z-index: 1;
}

footer {
    padding: 2rem;
    width: 100vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(62deg, var(--gray) 0%, var(--black) 100%);
}

footer p {
    padding-right: 2rem;
}

@media only screen and (max-width: 800px) {
    nav {
        justify-content: center;
    }

    #projects h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    nav {
        visibility: hidden;
    }

    .contact-section-header,
    .contact-links a {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 1.2rem;
    }

    .about {
        padding: 2rem 0;
    }

    .selection {
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;
    }

    .project-card {
        flex-direction: column;
        height: 100%;
        min-width: 100%;
    }

}

@media only screen and (max-width: 300px) {

    #welcome-section h1 {
        font-size: 1.2rem;
    }

    .about p {
        font-size: 1rem;
        text-align: center;
    }

    #projects h2 {
        font-size: 1rem;
    }

    .contact-section-header,
    .contact-links a {
        font-size: 1rem;
    }

    .contact-links a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    footer p {
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }

}

@media only screen and (max-width: 250px) {

    .about p::after,
    .about p::before {
        content: "";
    }

    .about p {
        padding: 7px 0;
    }

}
